<div id="container" style="width:100%; height:700px;"></div>

<script>

$(function () {
    $('#container').highcharts({
        xAxis: {
            categories: <%= @weeks %>
        },
        plotOptions: {
            series: {
                allowPointSelect: true
            }
        },
        series: [{
        		name: 'Additions',
            data: <%= @additions %>,
	          color: 'green'
	        },
	        {
	        		name: 'Deletions',
	            data: <%= @deletions %>,
	            color: 'red'
	        },
	        {
	        		name: 'Commits',
	            data: <%= @commits %>,
	            color: 'yellow'
	        }
        ]
    });


    // the button action
    $('#button').click(function () {
        var chart = $('#container').highcharts(),
        selectedPoints = chart.getSelectedPoints();

        if (chart.lbl) {
            chart.lbl.destroy();
        }
        chart.lbl = chart.renderer.label('You selected ' + selectedPoints.length + ' points', 100, 60)
            .attr({
                padding: 10,
                r: 5,
                fill: Highcharts.getOptions().colors[1],
                zIndex: 5
            })
            .css({
                color: 'white'
            })
            .add();
    });
});

</script>